<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Sonidos App
        </ion-title>
        <ion-buttons end>
            <button *ngIf="!ordenando" (click)="ordenando = true" ion-button>Ordenando</button>
            <button *ngIf="ordenando" (click)="ordenando = false" ion-button>Listo</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher [enabled]="!ordenando" (ionRefresh)="recargarAnimales($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list [reorder]="ordenando" (ionItemReorder)="reordenarAnimales($event)">
        <ion-item-sliding *ngFor='let animal of animales; let i = index'>
            <ion-item>
                <ion-avatar item-left>
                    <img [src]="animal.imagen">
                </ion-avatar>
                <h2>{{animal.nombre}}</h2>
                <ion-icon name="pause" *ngIf="animal.reproduciendo" item-right (click)="pausarAudio(animal)"></ion-icon>
                <ion-icon name="play" *ngIf="!animal.reproduciendo" item-right (click)="reproducir(animal)"></ion-icon>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="danger" (click)="borrarAnimal(i)">
                <ion-icon name="trash"></ion-icon>
         
              </button>

            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>